.hero {
	background: url('../img/hero-image.png') no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 20px 0 200px 0;
	height: auto;
}

#hero a, #hero h1  {
	color: #fefefe;
	text-transform: capitalize;
}

#hero h3 {
	color: #fefefe;
}

#hero .form-control {
	width: 75%;
	display: inline;
}

.inner {
	padding-top: 130px;
}

.navbar-default {
	opacity: 0;
}

#logo{
	display: none;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 72px;
    line-height: 108px;
    height: 108px;
    background: #335C7D;
    color: #fff;
    font-family: 'PT Sans', sans-serif;

    // set animation
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

#logo.show {
    display: block;
}
