@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AvenirNext-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/AvenirNext-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AvenirNext-Regular.svg#fe299bf9c71888f1da7b2c2d74973b56') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
	font-family: 'Avenir Next Medium';
	src: url('../fonts/AvenirNext-Medium.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/AvenirNext-Medium.woff') format('woff'), /* Modern Browsers */
			url('../fonts/AvenirNext-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
			url('../fonts/AvenirNext-Medium.svg#5ff54762f5b331a06e3ae1fbf17e8ff4') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  400;
}

@font-face {
	font-family: 'Brandon Printed Two';
	src: url('../fonts/Brandon Printed Two.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Brandon Printed Two.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/Brandon Printed Two.woff') format('woff'), /* Modern Browsers */
			url('../fonts/Brandon Printed Two.ttf')  format('truetype'), /* Safari, Android, iOS */
			url('../fonts/Brandon Printed Two.svg#e878380ff91e616e36adaba2c5226640') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  400;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Roboto-Regular.svg#f4ba68a9596ca53347cecdb9c6e48d01') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

h1{
font-family: 'Brandon Printed Two';
font-size: 36px;
}
h2{
	font-size: 22px;
}
h3{
	font-family: 'Avenir Next Medium';
	font-size:24px;
}
h4{
font-family: 'Avenir Next';
font-size: 13px;
color: white;
}

p {
	color: #666;
}
a {
	color: #7cc576;
}

h2:after {
	border-color: #7cc576;
}
.green{
  background-color: #7CC576;
  color: white;
}
.section-padding-medium { padding: 45px 0 50px }
/* navbar */

.navbar-default {
	opacity: 0;
	background-color: #202d30;
	border-color: #202d30;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #fefefe;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #7cc576;
}
.stats{
  color:#7CC576;
  font-size: 24px;
  border-radius: 10px;
  border-bottom: 1px solid #7CC576;
  padding: 20px;
}
/* hero section */

.hero {
	background: url('../img/hero-image.jpg') no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 20px 0 260px 0;
	height: auto;
}

#hero p, #hero h1  {
	color: #fefefe;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.hero h1 span {
	color: inherit;
	display: inline;
}

#hero h3 {
	color: #fefefe;
}

#hero h3 {
	margin-top: 40px;
	margin-bottom: 40px;
}

#hero p {
	margin-top: -10px;
}

#hero .form-control {
	width: 70%;
	display: inline;
	margin-top: 3px;
}

#hero .form-group {
	padding: 5px;
	border: 1px solid #efefef;
	border-radius: 5px;
}

#hero .form-control {
	background-color: transparent;
	border: transparent;
	font-size: 20px;
}

#hero .btn {
	width: 29%;
	font-size: 17px;
	margin-top: -5px;
}

.pad-top-20{
  padding-top:20px;
}
.pad-bottom-20{
  padding-bottom: 20px;
}
.line{
  width:100%;
  height:2px;
  background-color:#D8D8D8;
  opacity:63%;
}
#sign p{
  color: white;
}

#sign a {
  color:white;
  text-decoration: underline;
}

#sign .form-control {
  width: 55%;
  display: inline;
  margin-top: 3px;
  color:white;

}

#sign .form-group {
  padding: 5px;
  border: 1px solid #efefef;
  border-radius: 5px;
}

#sign .form-control {
  background-color: transparent;
  border: transparent;
  font-size: 20px;
}

#sign .btn-success  {
  color:#000;
  background-color:white;
}

#sign .btn {
  width: 40%;
  font-size: 17px;
  margin-top: -5px;
  float:right;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #D8D8D8 !important;
    opacity:  0.65;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #D8D8D8 !important;
    opacity:  0.65;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #D8D8D8 !important;
    opacity:  0.65;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #D8D8D8 !important;
    opacity:  0.65;
}

.btn-success {
  color: #fff;
	background-color: #7CC576;
	font-family: 'Roboto';
	font-size: 16px;
  border-radius: 6;
padding: 10px;
}
button{
  border-radius: 6px;
}
.inner {
	padding-top: 130px;
}
.left{
  float: left;
}
.right{
  float:right;
}

/* other section */

.divider{
font-size:24px;
color:white;
padding-top:10px;
height:88px;
background: #7CC576;
}

#why {
	background-color: #fefefe;
}

#how{
	padding-bottom: 100px;
}

.icon {
	background-color: #7cc576;
	height: 135px;
	width: 135px;
	line-height: 135px;
	border: 3px solid rgba(255, 255, 255, .7);
	color: rgba(255, 255, 255, .7);
}
.red{
	color:#C52033;
}
.teacher{
	padding-left: 80px;
}

/* icons */

.icon-red {
	background-color: #e74c3c;
}

.icon-blue {
	background-color: #2980b9;
}

.icon-purple {
	background-color: #9b59b6;
}

.icon-orange {
	background-color: #f39c12;
}

.icon-teal {
	background-color: #2ecc71;
}

/* Guarantee Section */

#guarantee .btn {
	margin-top: 5px;
}

#guarantee p {
	margin-top: 0;
}

#guarantee img {
	border-radius: 120px;
}

/* Thank You Page */

#thank-you i {
	float: left;
	margin-top: 15px;
}

#thank-you p, #thank-you form {
	margin-left: 50px;
}

/* typed js styling */

/* code for animated blinking cursor */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
